@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {

  --light-orange: #F6B868;
  --deep-orange: #EE6B2D;

  --light-blue: #76E0C2;
  --deep-blue: #59CADA;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
/* 
.bg-gradient-orange {
  background: -webkit-gradient(var(--light-orange), var(--deep-orange));
  background: linear-gradient(var(--light-orange), var(--deep-orange));
} */

.bg-gradient-blue {
  background: -webkit-gradient(var(--light-blue),var(--deep-blue));
  background: linear-gradient(var(--light-blue), var(--deep-blue));
}

.quiz-container {
  padding: 1rem;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}

.quiz-title {
  font-size: 20px;
  padding: 0.5rem;
}

.quiz-subtitle {
  font-size: 16px;
}

.select-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: clamp(290px, 100%, 1080px);
  height: 3rem;
  cursor: pointer;
}

.select-container-col {
  flex-direction: column;
  position: relative;
  height: 9rem;
}

.quiz-selects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.select-container[data-position="center"] {
  justify-content: center;
}

.select-container[data-position="end"] {
  justify-content: flex-end;
}

.quiz-options-container {
  z-index: 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: clamp(290px, 100%, 1080px);
  height: 3rem;
  border-radius: 100px;
  border: 2px solid #F9D29F;
}

.quiz-options-container-col {
  height: 9rem;
  flex-direction: column;
  border-radius: 24px;
}


.border-white {
  border: 2px solid #ffffff;
}


.quiz-option {
  text-align: center;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 321px) {
  .quiz-title {
    font-size: 44px;
    line-height: 140%;
  } 
  .quiz-option {
    font-size: 24px;
  }
  .quiz-subtitle {
    font-size: 32px;
  }
}

.font-bold {
  font-weight: 700;
}

.text-gray {
  color: black;
}

.selected-bg {
  position: absolute;
  width: 50%;
  height: 3rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.6) ;
}

.selected-bg-ext {
  width: 33%;
  border-radius: 24px;
}

.selected-bg-ext-col {
  width: 100%;
  border-radius: 24px;
}


.select-container[data-position="center"] > .selected-bg-col {
  border-radius: 0;
}

.select-container[data-position="end"] > .selected-bg-col {
  border-radius: 0 0 24px 24px;
}

.selected-bg-col {
  height: 33%;
  width: 100%;
}
